input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}
.container {
  padding: 20px;
  border: 1px thin !important;
}
#message {
  display:block;
  color: #000;
  position: relative;
}
#message p {
  padding: 0px 35px;
  font-size: 15px;
}
.teste {
width: 0%; 
}
.bar1 {
width: 33.3333333333%;
background-color: orange;
}
.bar2 {
width: 66.6666666666%;
background-color: yellow;
}
.bar3 {
width: 100%;
background-color: green;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -35px;
  content: "🗸";
}
.invalid {
  color: gray;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "🗶";
}
.icon-grin2:before {
  content: "\e9ea";
}
